<!--
Author : LIM SZE SAN (100065180)
Custom Web Application For COS30043 Interface Design and Development 
-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center">
                <img class="featurette-image img-circle img-responsive pull-right" src="img/mypic.jpg" alt="about image">
                <h2>Our Story
                    <span class="text-muted">knows more about LSS</span>
                </h2>
                <p class="lead">LSS is a website that selling different country's snack. LSS was founded by Lim Sze San while she studying degree at Swinburne Sarawak. The logo was inspireed by her own name because she likes to smile so put a smile logo around her name. </p>
                <blockquote> 
                  Life with Simple Smile. Smile is a simple way of enjoying life.
                  <small> CEO - 
                    <cite title="slogan">
                       Lim Sze San</cite> 
                  </small> 
                </blockquote>
            </div>
        </div>
    </div>
</section>