<!--
Author : LIM SZE SAN (100065180)
Custom Web Application For COS30043 Interface Design and Development 
-->
<section id="home"> 
    <div class="container">
        <header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill text-center"><img class="featurette-image img-responsive pull-right" src="img/slide1.png" alt="How it work?"></div>
                    <div class="carousel-caption">
                        <h2>How LSS-SnackBox work?</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill text-center"><img class="featurette-image img-responsive pull-right" src="img/slide2.png" alt="snackbox"></div>
                    <div class="carousel-caption">
                        <h2>What inside SnackBox?</h2>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the third background image using inline CSS below. -->
                    <div class="fill text-center"><img class="featurette-image img-responsive pull-right" src="img/slide3.png" alt="SnackBox Sample"></div>
                    <div class="carousel-caption">
                        <h2>What inside SnackBox?</h2>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>

        </header>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>How it work?</h2>
                <hr class="star-primary">
            </div>
            <div class="col-md-12">
                <div class="col-md-4 col-sm-12 ">
                    <figure class="figure">
                        <img src="img/h1.png" class="center-block  featurette-image img-responsive" alt="">
                        <figcaption >Tell us which country snack you love</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-12">
                   <figure class="figure">
                        <img src="img/h2.png" class="center-block  img-responsive figure-img img-fluid img-rounded" alt="">
                       <figcaption >8 or 9 tasty snack in a box</figcaption>
                    </figure>
                </div>
                <div class="col-md-4 col-sm-12">
                    <figure class="figure">
                        <img src="img/h3.png" class="center-block  img-responsive figure-img img-fluid img-rounded" alt="">
                        <figcaption>Send it to your sweet home</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <hr>
    </div>
<section>
    <!-- /.container -->